#menu {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 10px;
}

#menu a {
  display: flex;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

#menu a.active {
  background-color: rgba(136, 223, 155, 0.356);
}
